[user]
	username = seblj
	email = seblyng98@gmail.com
	name = Sebastian Lyng Johansen

[include]
	path = ~/.gitconfig.local

[credential]
	helper = store

[core]
	editor = nvim
	excludesfile = /Users/sebastianlyngjohansen/.gitignore_global
    pager = delta

[pull]
    rebase = true

[alias]
	st = status
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit -m
	start = !git checkout master && git pull origin
	lg = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)%an%Creset' --abbrev-commit | emojify | less
	sa = submodule add
    amend = commit --amend

[delta]
    line-numbers = true
    syntax-theme = TwoDark
    side-by-side = false
    file-modified-labed = modified
    file-style = white
    file-decoration-style = white box
    hunk-header-decoration-style = white box
    hunk-header-file-style = white
    hunk-header-line-number-style = white

[interactive]
    diffFilter = delta --color-only

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[mergetool "vimdiff"]
	path = nvim
