[user]
    username = seblj
    email = sebastian@lyngjohansen.com
    name = Sebastian Lyng Johansen

[include]
    path = ~/.gitconfig_local

[credential]
    helper = store

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = delta

[pull]
    rebase = true

[alias]
    add-untracked = !git add $(git ls-files -o --exclude-standard)
    st = status
    aa = add -A .
    cm = commit -m
    aacm = !git add -A . && git commit -m
    start = !git checkout master && git pull origin
    lg = "!f() { git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)%an%Creset' --abbrev-commit $@; }; f"
    sa = submodule add
    ca = commit --amend
    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort
    cane = commit --amend --no-edit
    po = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
    bc = !git switch -c
    bs = !git branch --no-color --sort=-committerdate --format='%(refname:short)' | fzf --height 40% --header='Switch branch' | xargs -r git switch
    bd = !git branch --no-color --sort=-committerdate --format='%(refname:short)' | fzf --multi --height 40% --header='Delete branch' | xargs -r git branch -d
    rb = !git branch --no-color --sort=-committerdate --format='%(refname:short)' | fzf --multi --height 40% --header='Rebase with branch' | xargs -r git rebase
    bsa = !git branch -r --no-color --sort=-committerdate --format='%(refname:short)' | fzf --height 40% --header='Switch branch' | xargs -r git switch --track
    blg = !git branch --no-color --sort=-committerdate --format='%(refname:short)' | fzf --height 40% --header='Switch branch' | xargs -r git lg
    pc = !gh pr list -L 500 | fzf --height 40% --header='Checkout PR'| awk '{print $1}' | xargs -r gh pr checkout
    rc = rebase --continue
    ra = rebase --abort
    ma = merge --abort
    cleanup = !git branch --merged | grep -v '\\*\\|master\\|main\\|develop' | xargs -n 1 git branch -d

[delta]
    line-numbers = true
    syntax-theme = TwoDark
    side-by-side = false
    file-modified-labed = modified
    file-style = white
    file-decoration-style = white box
    hunk-header-decoration-style = white box
    hunk-header-file-style = white
    hunk-header-line-number-style = white

[interactive]
    diffFilter = delta --color-only

[merge]
    tool = vimdiff

[mergetool]
    prompt = false

[mergetool "vimdiff"]
    path = nvim

[push]
    useForceIfIncludes = true
