[user]
	username = seblj
	email = seb.l.j@hotmail.com
	name = Sebastian Lyng Johansen

[include]
	path = ~/.gitconfig.local

[credential]
	helper = store

[core]
	editor = nvim
	excludesfile = /Users/sebastianlyngjohansen/.gitignore_global

[alias]
	st = status
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit -m
	start = !git checkout master && git pull origin
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	sa = submodule add
    amend = commit --amend

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

[mergetool "vimdiff"]
	path = nvim
