set commentary
set highlightedyank
set surround
set NERDTree

set number
set relativenumber
set hlsearch
set incsearch
set ignorecase
set smartcase
set clipboard=unnamedplus
set visualbell
set noerrorbells

let g:highlightedyank_highlight_duration = "150"

let mapleader = " "

nnoremap <leader>nt :NERDTreeToggle<CR>

nnoremap <leader>fd :edit ~/.ideavimrc<CR>

nnoremap <leader>x :action Run<CR>

nnoremap <leader>grh :action Vcs.RollbackChangedLines<CR>

nnoremap <leader>ff :action SearchEverywhere<CR>
nnoremap <leader>fg :action GotoFile<CR>
nnoremap <leader>fs :action FindInPath<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fb :action RecentFiles<CR>

nnoremap <leader>cd :action ShowErrorDescription<CR>
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gR :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>tt :action RiderUnitTestRunContextAction<CR>
nnoremap <leader>tr :action RiderUnitTestRepeatPreviousRunAction<CR>

" Would like the v:hlsearch, but ideavim doesn't support v: yet :(
nnoremap <Enter> :nohl<CR><CR>

" For mac
nmap ∆ <A-j>
nmap ˚ <A-k>

nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
vnoremap <A-j> :action MoveLineDown<CR>
vnoremap <A-k> :action MoveLineUp<CR>
inoremap <A-j> <Esc>:action MoveLineDown<CR>a
inoremap <A-k> <Esc>:action MoveLineUp<CR>a

nnoremap <leader>d<leader> :action XDebugger.AttachToProcess<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>gm :action Annotate<CR>

nmap gb <Action>(Back)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nnoremap gn :action GotoNextError<cr>
nnoremap gp :action GotoPreviousError<cr>

nmap s <Plug>YSurround
vmap s <Plug>VSurround

nnoremap Y y$

nnoremap <leader>j J
nnoremap <Tab> gt
nnoremap <S-Tab> gT

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
onoremap H ^
onoremap L $

nnoremap J 10gj
nnoremap K 10gk
vnoremap J 10gj
vnoremap K 10gk

nnoremap k gk
nnoremap j gj
vnoremap k gk
vnoremap j gj

vnoremap < <gv
vnoremap > >gv
