set commentary
set highlightedyank
set surround
set NERDTree

set number
set relativenumber
set hlsearch
set incsearch
set ignorecase
set smartcase
set clipboard=unnamedplus
set visualbell
set noerrorbells

let g:highlightedyank_highlight_duration = "150"

let mapleader = " "

nnoremap <leader>nt :NERDTreeToggle<CR>

nnoremap <leader>fd :edit ~/.ideavimrc<CR>

nmap <leader>x <Action>(Run)

nmap <leader>grh <Action>(Vcs.RollbackChangedLines)

nmap <leader>ff <Action>(SearchEverywhere)
nmap <leader>fg <Action>(GotoFile)
nmap <leader>fs <Action>(FindInPath)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fb <Action>(RecentFiles)

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

nmap ]q <Action>(NextOccurence)
nmap [q <Action>(PreviousOccurence)

nmap gh <Action>(QuickJavaDoc)
nmap gd <Action>(GotoDeclaration)
nmap gri <Action>(GotoImplementation)

" Use native neovim keymaps to get used to them
nmap <C-w><C-d> <Action>(ShowErrorDescription)
nmap <C-w>d <Action>(ShowErrorDescription)
nmap grr <Action>(FindUsages)
nmap grn <Action>(RenameElement)
nmap gra <Action>(ShowIntentionActions)

nmap <leader>tt <Action>(RiderUnitTestRunContextAction)
nmap <leader>tr <Action>(RiderUnitTestRepeatPreviousRunAction)

nmap <leader>s <Action>(com.intellij.csharpier.ReformatWithCSharpierAction)

" Would like the v:hlsearch, but ideavim doesn't support v: yet :(
nnoremap <Enter> :nohl<CR><CR>

" For mac
nmap ∆ <A-j>
nmap ˚ <A-k>

nmap <A-j> <Action>(MoveLineDown)
nmap <A-k> <Action>(MoveLineUp)
vmap <A-j> <Action>(MoveLineDown)
vmap <A-k> <Action>(MoveLineUp)
imap <A-j> <Action>(MoveLineDown)
imap <A-k> <Action>(MoveLineUp)

nmap <leader>d<leader> <Action>(XDebugger.AttachToProcess)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>gm <Action>(Annotate)

nmap gb <Action>(Back)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nmap <C-t> <Action>(PinActiveTab)

nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

nmap s <Plug>YSurround
vmap s <Plug>VSurround

nnoremap Y y$

nnoremap <leader>j J
nnoremap <Tab> gt
nnoremap <S-Tab> gT

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
onoremap H ^
onoremap L $

nnoremap J 10gj
nnoremap K 10gk
vnoremap J 10gj
vnoremap K 10gk

nnoremap k gk
nnoremap j gj
vnoremap k gk
vnoremap j gj

vnoremap < <gv
vnoremap > >gv
